Client_Host_Library/Connected Services/MyServiceHost/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Host.Server_Lib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Host.Server_Lib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Type_Msg">
    <xs:sequence>
      <xs:element minOccurs="0" name="msg_Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msg_text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Type_Msg" nillable="true" type="tns:Type_Msg" />
</xs:schema>